@media (max-width:500px){

  .mobile_img{
    width:100%;
  }
  .facebook {
  width:50px;
  height:50px;
  }
}

.facebook:hover{
  color:red;
}
.text_1 {
  margin-top:10px;
  margin-bottom: 10px;
}
.second_banner{
margin-top: 10px;
}
